{%extends "base.html"%}

{%block head%}
<link rel="stylesheet" href="/css/like.css">

{%endblock%}

{% block content %}
<script>const likesData = {{ likes_json | tojson }};</script>

{% for message in get_flashed_messages() %}
<div class="alert alert-warning text-center">
    {{ message }}
</div>
{% endfor %}

<div class="blog-container">
  <!-- Blog section -->
  <a href="{{ url_for('blogs.other_profile', users_id=blog.user_id) }}">
    <strong>{{ user_name }}</strong>
  </a>
  <h1>{{ blog.title }}</h1>
  <h5 class="text-muted">{{ blog.date }}</h5>
  <p>{{ blog_content }}</p>

  <!-- Like / Dislike -->
  <div class="toggle-container" data-blog-id="{{ blog.id }}">
    <form method="post" action="{{ url_for('blogs.like', blog_id=blog.id) }}">
      <button type="submit" class="toggle-btn like">👍</button>
      {{ blog.likes }}
    </form>
    <form method="post" action="{{ url_for('blogs.dislike', blog_id=blog.id) }}">
      <button type="submit" class="toggle-btn dislike">👎</button>
      {{ blog.dislikes }}
    </form>
    <form method="get" class="comment-btn">
      <button type="submit" class="toggle-btn comment">💬</button>
      {{ blog.comments }}
    </form>
  </div>

  <!-- Add Comment -->
  <form method="post" action="{{ url_for('blogs.comment', blog_id=blog.id) }}">
    <div class="mb-3">
      <textarea class="form-control" id="comment" name="comment"
        rows="2" placeholder="What's your opinion?" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Comment</button>
  </form>

  <hr>

  <!-- View Comments -->
  {% for comment in comments %}
    <div>
      <a href="{{ url_for('blogs.other_profile', users_id=comment.user_id) }}">
        {{ users_names[loop.index0] }}
      </a>
        <div>
        <h5>{{ comment.comment }}</h5>
        {% if user_id == comment.user_id %}
            <form method="post" action="{{ url_for('blogs.delete_comment', comment_id=comment.id) }}" class="d-inline">
            <button type="submit" class="btn btn-sm btn-danger" style="margin-top: 0.5rem;">
             Delete
            </button>
            </form>
        {% endif %}
        </div>
      <hr>
    </div>
  {% endfor %}
</div>

<script src="/js/comment.js"></script>
{% endblock %}