<title>Home</title>
{%extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="/css/like.css">
{% endblock %}

{% block content %}
<h1>Home</h1>
<div class="container mt-4">
    {% for blog in range(number_blogs) %}
        <div class="card shadow-sm mb-3">
            <div class="card-body">
                <a href="{{ url_for('blogs.other_profile', users_id=blogs_list[blog].user_id) }}">{{ users_name[blog] }}</a>
                <h4 class="card-title">{{ blogs_list[blog].title }}</h4>
                <h6 class="text-muted">{{ blogs_list[blog].date }}</h6>
                <p class="card-text">{{ blogs[blog] }}</p>

                {% set like_activate = '' %}
                {% set dislike_activate = '' %}
                {% set done = false %}
                
                {% for blg in likes %}
                    {% if not done and blogs_list[blog].id == blg.blog_id %}
                        {% if blg.like == 1 %}
                            {% set like_activate = 'activate' %}
                            {% set done = true %}
                        {% elif blg.like == 0 %}
                            {% set dislike_activate = 'activate' %}
                            {% set done = true %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="toggle-container">
                    <form method="post" action="{{url_for('blogs.like', blog_id=blogs_list[blog].id)}}">
                        <button id="likeBtn" class="toggle-btn like {{like_activate}}">
                        👍</button>
                        {{blogs_list[blog].like}} 
                    </form>

                    <form method="post" action="{{url_for('blogs.dislike', blog_id=blogs_list[blog].id)}}">
                        <button id="dislikeBtn" class="toggle-btn dislike {{dislike_activate}}">
                        👎</button>
                        {{blogs_list[blog].dislike}} 
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<script src="/js/like.js"></script> 
{% endblock %}