{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" href="/css/like.css">
{% endblock %}

{% block content %}
<h1>Home</h1>
<div class="container mt-4">
  {% for blog in blogs_list %}
    <div class="card shadow-sm mb-3">
      <div class="card-body">
        <input type="hidden" class="blog-id" value="{{ blog.id }}">

        <a href="{{ url_for('blogs.other_profile', users_id=blog.user_id) }}">
          {{ users_name[loop.index0] }}
        </a>
        <h4 class="card-title">{{ blog.title }}</h4>
        <h6 class="text-muted">{{ blog.date }}</h6>
        <p class="card-text">{{ blogs[loop.index0] }}</p>

        <div class="toggle-container">
          <form method="post" action="{{ url_for('blogs.like', blog_id=blog.id) }}">
            <button type="submit" class="toggle-btn like">👍</button>
            {{ blog.likes }}
          </form>
          <form method="post" action="{{ url_for('blogs.dislike', blog_id=blog.id) }}">
            <button type="submit" class="toggle-btn dislike">👎</button>
            {{ blog.dislikes }}
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
  <script>
    const likesData = {{ likes_json | tojson }};

    document.querySelectorAll('.card').forEach(card => {
        const blogId = card.querySelector('.blog-id').value;
        const likeBtn = card.querySelector('.toggle-btn.like');
        const dislikeBtn = card.querySelector('.toggle-btn.dislike');

        likesData.forEach(entry => {
            if (entry.blog_id == blogId) {
                if (entry.likes) {
                    likeBtn.classList.add('activate');
                } else {
                    dislikeBtn.classList.add('activate');
                }
            }
         });
    });
  </script>
</div>
{% endblock %}